@import "vars";
@import "fonts";
@import "libs";

@import "_mixins/adaptive-font";

// @include adaptive-font(24, 12)

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: $white;
}

body {
	font-size: 16px;
	font-weight: 500;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	padding: 0;
	margin: 0;

	input, textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: #FF5F00;
		}

		// &:focus {
		// 	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
		// }
	}

	&.lock {
		overflow: hidden;
	}
}

img {
	height: auto;
	width: 100%;
}

b, strong {
	font-weight: 600;
}

a {
	text-decoration: none;
	cursor: pointer;
	display: block;

	&:hover {
		text-decoration: none;
	}
}

p, ul, li {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	outline: none;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
}






.header {
	&__row {
		padding: 50px 0 30px;
		background-color: $white;
	}
}

.logo {
	max-width: 372px;
	width: 100%;
}

.main-block {
	background-color: rgba(#8EE3DC, 0.7);

	&__row {
		padding: 60px 0;
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		color: $text;
	}

	&__offers {
		margin-top: 52px;
	}
}

.offers {
	display: grid;
  grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.offer {
	background-color: $white;
	border-radius: 12px;
	border: 1px solid #8EDFE3;
	max-width: 295px;
	width: 100%;
	min-height: 330px;
	padding: 22px 15px 15px;
	display: flex;
	flex-direction: column;

	&__logo {
		max-width: 180px;
		font-size: 0;
		min-height: 50px;
		display: flex;
    align-items: center;

		img {
			width: auto;
		}
	}

	&__mark {
		margin-top: 18px;
	}
	&__block {
		margin-top: 22px;
		margin-bottom: 22px;
	}
}

.mark {
	border-radius: 18px;
	padding: 7px 13px;
	display: inline-block;
	font-size: 16px;
	line-height: 100%;

	&--blue {
		background-color: rgba(#8EE3DC, 0.5);
		color: #005A5F;
	}

	&--orange {
		background-color: rgba(#FFCA4999, 0.6);
		color: #1D1D1D;
	}
}

.offer-block {
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 6px 0;
	}

	&__text,
	&__number {
		font-size: 18px;
		color: #1D1D1D;
	}

	&__number {
		font-weight: 600;
	}

	&__button {
		margin-top: auto;
	}
}

.main-button {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding: 18px;
	font-family: $default-font;
	cursor: pointer;
	background-color: #44B251;
	color: $white;
	border-radius: 4px;
}



/************* Media *****************************/
@media (max-width: 1100px) {
	.offers {
		grid-template-columns: repeat(3, 1fr);
	}
}


@media (max-width: 800px) {
	.header {
		&__row {
			padding: 30px 0 25px;
		}
	}

	.logo {
		max-width: 280px;
	}

	.main-block {
		&__title {
			font-size: 28px;
		}

		&__row {
			padding: 40px 0;
		}
	}

	.offers {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 44px;
	}

	.offer {
		max-width: 100%;
	}
}


@media (max-width: 600px) {

}


@media (max-width: 350px) {

}



