@import "vars";
@import "fonts";
@import "libs";

@import "_mixins/adaptive-font";

// @include adaptive-font(24, 12)

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: $white;
}

body {
	font-size: 16px;
	font-weight: 500;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	padding: 0;
	margin: 0;

	input, textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: #FF5F00;
		}

		// &:focus {
		// 	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
		// }
	}

	&.lock {
		overflow: hidden;
	}
}

img {
	height: auto;
	width: 100%;
}

b, strong {
	font-weight: 600;
}

a {
	text-decoration: none;
	cursor: pointer;
	display: block;

	&:hover {
		text-decoration: none;
	}
}

p, ul, li {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	outline: none;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
}






.header {
	background-color: $white;

	&__row {
		padding: 50px 0 30px;
	}
}

.logo {
	max-width: 372px;
	width: 100%;
}

.main-block {
	background-color: rgba(#8EE3DC, 0.7);

	&__row {
		padding: 60px 0;
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		color: $text;
	}

	&__offers {
		margin-top: 52px;
	}

	&__info {
		margin-top: 60px;
	}

	&__text {
		font-size: 18px;
		line-height: 120%;
		color: $black;

		& + & {
			margin-top: 20px;
		}
	}
}

.offers {
	display: grid;
  grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.offer {
	background-color: $white;
	border-radius: 12px;
	border: 1px solid #8EDFE3;
	max-width: 295px;
	width: 100%;
	min-height: 330px;
	padding: 22px 15px 15px;
	display: flex;
	flex-direction: column;

	&__logo {
		max-width: 180px;
		font-size: 0;
		min-height: 50px;
		display: flex;
    align-items: center;

		img {
			width: auto;
		}
	}

	&__mark {
		margin-top: 18px;
	}

	&__block {
		margin-top: 22px;
		margin-bottom: 22px;
	}
}

.mark {
	border-radius: 18px;
	padding: 7px 13px;
	font-size: 16px;
	line-height: 100%;
	width: fit-content;

	&--blue {
		background-color: rgba(#8EE3DC, 0.5);
		color: #005A5F;
	}

	&--orange {
		background-color: rgba(#FFCA4999, 0.6);
		color: #1D1D1D;
	}
}

.offer-block {
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 6px 0;
	}

	&__text,
	&__number {
		font-size: 18px;
		color: #1D1D1D;
	}

	&__number {
		font-weight: 600;
	}

	&__button {
		margin-top: auto;
	}
}

.main-button {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding: 18px;
	font-family: $default-font;
	cursor: pointer;
	background-color: #44B251;
	color: $white;
	border-radius: 4px;
}

.information {
	&__row {
		padding: 60px 0;
	}

	&__block {
		& + & {
			margin-top: 60px;
		}
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		color: $black;

		& + .information__text {
			margin-top: 30px;
		}

		& + .information__subtitle {
			margin-top: 24px;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 120%;
		color: $black;

		& + & {
			margin-top: 20px;
		}

		& + .information__subtitle {
			margin-top: 30px;
		}
	}

	&__subtitle {
		font-size: 24px;
		font-weight: 700;
		color: $black;
		margin-top: 30px;
	}

	&__list {
		margin-top: 20px;
	}

	&__note {
		font-size: 24px;
		font-weight: 600;
		color: #1E6D27;
		line-height: 120%;
		margin-top: 30px;
	}

	&__important {
		margin-top: 32px;
	}

	&__table {
		margin-top: 34px;
		margin-bottom: 40px;
	}
}

.info-list {
	display: flex;
	flex-direction: column;
	gap: 10px;

	& + .information__text {
		margin-top: 25px;
	}

	&__item {
		color: $black;
    line-height: 120%;
		font-size: 18px;
    padding-left: 5px;
    margin-left: 22px;
    position: relative;
	}

	&--disc {
		.info-list__item::before {
			content: "";
			display: block;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: $black;
			position: absolute;
			top: 10px;
			left: -10px;
		}
	}

	&--numbers {
		padding-left: 5px;

		.info-list__item {
			list-style-type: auto;
		}
	}
}

.info-important {
	background-color: #44B251;
	border-radius: 12px;
	padding: 35px 60px;

	&__text {
		font-size: 18px;
		color: $white;
		padding-left: 25px;
		position: relative;

		&::before {
			content: '';
			width: 4px;
			height: 61px;
			background-color: $white;
			position: absolute;
			top: 5px;
			left: 0;
		}
	}
}

.info-calc {
	&__columns {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__descr {
		margin-top: 34px;
	}
}

.info-calc-descr {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 56%;
	gap: 10px;

	&__col {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-right: 20px;
	}

	&__text {
		color: $black;
		font-size: 18px;
	}

	&__numb {
		font-weight: 700;
		font-size: 18px;
		display: inline-block;
	}
}

.info-calc-result {
	padding: 23px 33px;
	background-color: rgba(#8DDEE266, 0.4);
	border-radius: 12px;
	max-width: 505px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;

	&__text {
		color: $black;
		font-size: 18px;
	}

	&__numb {
		font-weight: 700;
		font-size: 18px;
	}
}

.info-table {
	display: table;
	width: 100% !important;
	table-layout: fixed !important;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0 !important;
	line-height: 24px;

	&__th,
	&__td {
		text-align: left;
	}
	
	&__th {
		padding: 18px;
		font-size: 18px;
		color: $text;
		background-color: rgba(#8DDEE266, 0.4);
		font-weight: 700;
		border-right: 4px solid $white;

		&:last-child {
			border-right: none;
		}
	}

	&__td {
		border-bottom: 2px solid #D7D7D7;
		border-right: 4px solid $white;
		font-size: 18px;
		padding: 20px 18px 10px;

		&:first-child {
			text-align: left;
		}

		&:last-child {
			border-right: none;
		}
	}
}

.footer	{
	background-color: rgba(#8EE3DCB3, 0.7);

	&__row {
		padding: 47px 0 100px;
	}

	&__text {
		font-size: 18px;
		line-height: 120%;
		color: $black;

		& + & {
			margin-top: 20px;
		}
	}
}






/************* Media *****************************/
@media (max-width: 1100px) {
	.offers {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 900px) {
	.info-calc {
		&__columns {
			align-items: flex-start;
			flex-direction: column;
		}

		&__result {
			margin-top: 34px;
		}
	}

	.info-calc-descr {
		width: 100%;
		justify-content: flex-start;
	}
}


@media (max-width: 800px) {
	.header {
		&__row {
			padding: 30px 0 25px;
		}
	}

	.logo {
		max-width: 280px;
	}

	.main-block {
		&__title {
			font-size: 28px;
		}

		&__row {
			padding: 40px 0;
		}

		&__info {
			margin-top: 40px;
		}

		&__text {
			font-size: 16px;
		}
	}

	.offers {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 44px;
	}

	.offer {
		max-width: 100%;
	}

	.information {
		&__row {
			padding: 40px 0;
		}

		&__title {
			font-size: 28px;
		}

		&__subtitle {
			font-size: 22px;
		}

		&__text {
			font-size: 16px;
		}

		&__note {
			margin-top: 44px;
			font-size: 22px;
		}

		&__block {
			& + & {
				margin-top: 40px;
			}
		}

		&__table {
			margin: 25px 0;
		}
	}

	.info-important {
		padding: 34px 17px 30px 32px;
		margin-left: -28px;
	}

	.info-list {
		&__item {
			font-size: 16px;
		}
	}

	.info-calc {
		&__descr {
			margin-top: 15px;
		}

		&__result {
			margin-top: 15px;
		}
	}

	.info-calc-descr {
		&__col {
			margin-right: 0;
		}
	}

	.info-calc-result {
		padding: 23px 20px;
	}

	.info-table {
		&__thead {
			display: none;
		}

		&__tr {
			margin-bottom: 10px;
			display: block;
			border: 2px solid rgba(#8DDEE266, 0.4);
			padding: 0;
		}

		&__td {
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-align: right;
			font-size: 16px;
			padding: 15px 10px;

			&:before {
				content: attr(data-label);
				font-weight: 700;
				margin-right: 10px;
				text-align: left;
			}

			&:first-child {
				text-align: right;
			}

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.footer {
		&__row {
			padding: 54px 0 70px;
		}

		&__text {
			font-size: 16px;
		}
	}
}


@media (max-width: 600px) {
	
}


@media (max-width: 400px) {
	.info-calc-result {
		width: auto;
		max-width: inherit;
		margin-right: -20px;
		margin-left: -20px;
	}
}



